body{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #3F88C5;
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #30323D;
  height: 130px;
  width: 100%;
  color: white;
  border-bottom: 2px solid #FCD720;
}

nav{
  font-size: 125%;
  width: 70%;
  color: #E8C547;
  text-shadow: 1px 1px black;
  display: inline-block;
  margin-top: 80px;
  margin-left: 1.5%;
}

h2{
  margin-left: 1.5%;
  font-weight: 400;
  font-size: 200%;
  color: #E8C547;
  text-shadow: 1px 1px black;
}

.primary-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 1%;
  padding-right: 1%;
}

.people-box{
  height: 470px;
  min-height: 400px;
  width: 24%;
  border: 0px solid #E8C547;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px #888888;
}

.photo-container{
  width: 100%;
  height: 50%;
}

img{
  width: 100%;
  height: 100%;
}

.arrow-container{
  width: 100%;
  height: 40%;
  position: relative;
  bottom: 98%;
  display: flex;
  justify-content: space-between;
}

.arrow{
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: #FCD720;
  border-radius: 100%;
  margin-left: 3%;
}

h6{
  color: #FCD720;
  text-align: center;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  margin-right: 3%;
  text-shadow: 2px 2px black;
}

.big-number{
  font-size: 250%;
}

.logo{
  height: 60px;
  width: 144px;
  position: absolute;
  top: 55px;
  right: 1.5%;
}

.icon{
  height: 20px;
  width: 20px;
  margin-right: 15px;
  margin-left: 30px;
}

.user-icon{
  height: 25px;
  width: 25px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.user-icon-down{
  height: 20px;
  width: 15px;
  float: right;
  margin-right: 1.5%;
  margin-top: 14px;
}

.top-right-text{
  float: right;
  display: inline;
  margin-right: 10px;
  margin-top: 16px;
  color: #3F88C5;
  font-size: 80%;
}

.soup-icon{
  margin-right: 15px;
  margin-left: 0;
}

.date{
  font-size: 70%;
}

h3,p,h4{
  margin: 0;
  margin-left: 5%;
  font-weight: 400;
}

h3{
  margin-top: 10px;
  margin-bottom: 4px;
}

h4{
  font-size: 75%;
  margin-top: 7px;
  margin-bottom: 4px;
}

.blue{
  color: #23B7FD;
  font-size: 100%;
  align-self: flex-start;
}

.box-bottom{
  color: #696969;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 50%;
  background-color: #EFEFEF;
  border-top: 0px solid #FCD720;
  font-weight: 400;
}

.link-box{
  width: 90%;
  height: 60px;
  background-color: lightgray;
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 5px;
}

@media (max-width: 1100px){
  .people-box{
    width: 32%;
  }
  .primary-container{
    justify-content: flex-start;
    margin-left: 1.5%;
  }
  .people-box{
    margin-right: 1%;
  }

}

@media (max-width: 850px){
  .people-box{
    width: 49%;
  }
}

@media (max-width: 700px){
  nav{
    font-size: 100%;
  }
}

@media (max-width: 620px){
  .people-box{
    width: 75%;
    height: 375px;
    min-height: 350px;
    margin-bottom: 30px;
    margin-left: 12%;
  }

  .top-right-text{
    display: none;
  }

  .logo{
    height: 60px;
    width: 144px;
    position: absolute;
    left:35%;
    top: 20px;
  }

  .icon{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  nav{
    margin: auto;
    width: 100%;
    position: absolute;
    top: 100px;
    text-align: center;
    font-size: 90%;
  }

  .user-icon{
    width: 15px;
    height: 15px;
  }

  .user-icon-down{
    margin-top: 7px;
  }

  h2{
    margin: 0;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 150%;
    text-align: center;
  }
}

@media (max-width: 400px){
  .logo{
    left: 25%;
  }
  .people-box{
    width: 98%;
    margin-left: 0;
  }
}
